.action-box {
   position: relative;
   background: #fff;
   height:100vh;
}
.search-bar {
   display: flex;
   gap:15px;
   background-color: $main-theme-color;
   padding:15px 25px;
   align-items: center;
   .logo {
      background: transparent;
      padding:0;
   }
   .search-ipt {
      position: relative;
      flex: 1 1 auto;
      .text {
         background:#fff;
         font-size: $font-size-m;
         height:50px;
         padding:0 20px 0 16px;
         border-radius: 4px;
         border:0;
         box-shadow: 0px 4px 6px 0px #00000026;
         &::placeholder {
            color: $font-color-gray;
            font-size: $font-size-m;
         }
      }
      .btn-search {
         display: block;
         position: absolute;
         top:12px;
         right:12px;
         height:27px;
         width:27px;
         min-width: 0;
         padding: 0;
         font-size:0;
         background:url('/images/ico_search.svg') no-repeat center center;
         z-index: 1;
         &:active {
            background-color: $active-color-gray;
         }
      }
   }
}
.result-list {
   background: #fff;
   position: absolute;
   top: 48px;
   z-index: 2;
   box-shadow: 0px 4px 4px 0px #00000040;
   border-radius: 0 0 4px 4px;
   border-top:1px solid #D9D9D9;
   &>li {
      padding:0 16px;
      .inner {
         position: relative;
         border-top:1px solid #D9D9D9;
         padding:16px 27px;
         .stop-name {
            display: -webkit-box;
            font-size: $font-size-s;
            color:#000;
            font-weight: 600;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
         }
         .btn-close {
            position: absolute;
            right:0;
            top: 18px;
         }
         .station-sub-text .direct {
            width:235px;
         }
      }
      &:first-child {
         .inner {
            border-top:0;
         }
      }
   }
}


.bookmark-cont {
   padding: 25px 30px;
   height: calc(100% - 80px);
   .home-tit {
      font-size: 24px;
      font-weight: 700;
   }
   .mark-list {
      overflow: auto;
      padding-right: 10px;
      height:calc(100% - 30px);
      li {
         position: relative;
         margin-top:10px;
         //cursor: pointer;
         .box {
            display: block;
            background: #fff;
            height:84px;
            width:100%;
            padding:16px 20px 16px 50px;
            border:1px solid #D9D9D9;
            border-radius: 4px;
            text-align: left;
            &:hover {
               background-color: $active-color-gray;
            }
            &.active {
               border-color: #574F4F;
            }
         }
         .icon-mark {
            position: absolute;
            z-index: 1;
            left: 20px;
            top:20px;
            width:23px;
            height:23px;
            min-width: 0;
            font-size: 0;
            padding:0;
            background:url('/images/ico_star.svg') no-repeat center center;
            &:active {
               background-color: $active-color-gray;
            }
         }
         .stop-name {
            font-size: $font-size-m;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         }
      }
   }
}
// 정류장번호와 방면이 들어간 공통 텍스트
.station-sub-text {
   font-size: $font-size-s;
   color: $font-color-gray;
   font-weight: 400;
   margin-top: 5px;
   .num {
      position: relative;
      margin-right: 14px;
      &::before {
         position: absolute;
         background-color: #ddd;
         height:16px;
         width:1px;
         right:-7px;
         top:0;
         content: '';
      }
   }
   .direct {
      display: inline-block;
      max-width: 280px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: sub;
   }
}
.info-tooltip {
   border-radius: 4px;
   padding: 20px !important;
   box-shadow: 0px 4px 10px 0px #00000033 !important;
   .main-txt {
      color:#6E6E6E;
      font-weight: 600;
      font-size: $font-size-s;
   }
   .desc {
      color:#6E6E6E;
      font-size: $font-size-xs;
      font-weight: 400;
   }
   .info {
      position: relative;
      padding-left:12px;
      margin-top: 4px;
      color:#888;
      font-size: $font-size-xs;
      font-weight: 400;
      &:after {
         position: absolute;
         left:0;
         top:5px;
         width:8px;
         height:8px;
         border-radius: 50%;
         content: '';
      }
      &.green {
         margin-top:10px;
         &:after {
            background-color: #5CCD70;
         }
      }
      &.blue {
         &:after {
            background-color: #7D9EF4;
         }
      }
      &.red {
         &:after {
            background-color: #EE5A32;
         }
      }
   }
}

//내용이 없을 때
.empty-box {
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   text-align: center;
   img {
      margin: 0 auto;
   }
   .text {
      font-weight: 400;
      font-size: $font-size-m;
      color:#888;
   }
}
