@import 'variables.scss';
@import 'layout.scss';
@import 'common.scss';
@import 'font.scss';

html, body {
   font-family: 'Pretendard', sans-serif !important;
   font-weight: 400;
   font-size: $font-size-m;
   color: $font-color-black;
   height:100vh;
   line-height: 1.2 !important;
}
button {
   min-width: 0 !important;
}

::-webkit-scrollbar {
   width: 5px;
   height:5px;
   border-radius: 5px;
   background-color: #D9D9D9;
}
::-webkit-scrollbar-thumb {
   background-color: #aaa;
   border-radius: 5px;
}
::-webkit-scrollbar-track {
   background-color: #D9D9D9;
   border-radius: 5px;
}