$main-theme-color : #FF9900;
$font-color-black : #000;
$font-color-gray : #888;
$active-color-gray : rgba(217, 217, 217, 0.5);

$font-size-l : 21px;
$font-size-m : 18px;
$font-size-s : 15px;
$font-size-xs : 12px;

$stat-color-red : #EE5A32; //혼잡
$stat-color-blue : #7D9EF4; //보통
$stat-color-green : #5CCD70; //여유
$stat-color-gray : #B0B0B0; //그외