$main-theme-color : #FF9900;
$font-color-black : #000;
$font-color-gray : #888;
$active-color-gray : rgba(217, 217, 217, 0.5);

$font-size-l : 21px;
$font-size-m : 18px;
$font-size-s : 15px;
$font-size-xs : 12px;